.content {
  width: 200px; 
  background-color: #f4f4f4; 
  position: fixed; 
  top: 60px;
  left: 0;
  bottom: 0; 
  padding: 20px;
}

.compose {
  cursor: pointer;
}

.compose p {
  margin: 0; 
  font-weight: bold; 
  padding: 10px 0;
}

.compose:hover {
  background-color: #ddd; 
}
